@model UserCountriesCitiesVM

<script src="/lib/jquery//dist/jquery.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#CountryId').change(function () {
            var url = '@Url.Content("~/")' + "Admin/GetCities";
            var ddlsource = "#Id";
            $.getJSON(url, { CountryId: $(ddlsource).val() }, function (data) {
                var items = '';
                $("#Id").empty();
                $.each(data, function (i, cities) {
                    items += "<option value='" + cities.value + "'>" + cities.text + "</option>";
                });
                $('#CityId').html(items);
            });
    });
</script>

<h1 class="bg-info text-white">Create User</h1>
<a asp-action="Index" class="btn btn-secondary">Back</a>
<div asp-validation-summary="All" class="text-danger"></div>

<form method="post">
    <div class="form-group">
        <label asp-for="User.Name">Username</label>
        <input asp-for="User.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="User.Email"></label>
        <input asp-for="User.Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="User.Password"></label>
        <input asp-for="User.Password" class="form-control" />
    </div>
    @*<div class="form-group">
        <label asp-for="Country.CountryName" class="control-label"></label>
        <select asp-for="Country.Id" class="form-control" id="CountryName">
            @foreach (var country in Country.ShowCountries)
            {
                <option value="@country.Id">
                    @country.CountryName
                </option>
            }
        </select>
    </div>*@

    @*<div class="form-group">
            <label asp-for="CityId">City</label>
            <select asp-for="CityId" class="form-control" id="CityName">
                @foreach (var city in City.ShowCities)
                {
                    <option value="@city.Id">
                        @city.CityName
                    </option>

                }
            </select>
        </div>*@

    @*Test nested droplist*@

    @*<div class="form-group">
        <label asp-for="City.Id">City</label>
        <select asp-for="City.Id" class="form-control" id="City.CityName" asp-item="@(new SelectList(string.Empty, "Id", "CityName"))">
        </select>
    </div>*@


    <button type="submit" class="btn btn-primary">Create</button>
</form>