@*@model AppUser*@
@model AppUserDetailsViewModel

<h1 class="bg-info text-white">Update User</h1>
<a asp-action="Index" class="btn btn-secondary">Back</a>
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Update" method="post">
    <div class="form-group">
        <label asp-for="ListUser.Id"></label>
        <input asp-for="ListUser.Id" class="form-control" disabled />
    </div>
    <div class="form-group">
        <label asp-for="ListUser.UserName"></label>
        <input asp-for="ListUser.UserName" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="ListUser.Email"></label>
        <input asp-for="ListUser.Email" class="form-control" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input name="password" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ListUser.Id">City</label>
        <select asp-for="ListUser.Id" class="form-control" id="CityName">
            @foreach (var city in AppUserDetailsViewModel.CitiesList)
            {
                if (city.Id == Guid.Parse(ViewData["ListUser"].ToString()))
                {
                    <option selected="selected" value="@city.Id">
                        @city.CityName
                    </option>
                }
                else
                {
                    <option value="@city.Id">
                        @city.CityName
                    </option>
                }

            }
        </select>
    </div>
    @*<div class="form-group">
            <label asp-for="Country.Id">Country</label>
            <select asp-for="Country.Id" class="form-control" id="CountryName">
                @foreach (var country in Country.ShowCountries)
                {
                    <option value="@country.Id">
                        @country.CountryName
                    </option>
                }
            </select>
        </div>*@

    @*<div class="form-group">
            <label asp-for="Country"></label>
            <select asp-for="Country" class="form-control" asp-items="@new SelectList(Enum.GetNames(typeof(Country)))">
                <option selected disabled value="Select">Select Country</option>
            </select>
        </div>*@

    <button type="submit" class="btn btn-primary">Save</button>
</form>