@model IEnumerable<System.Security.Claims.Claim>
<h1 class="bg-info text-white">Claims</h1>

@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Admin") || User.IsInRole("Superadmin"))
    {

                <div class="container-fluid">
                    <ul>
                        <li><a asp-action="Admin" class="btn btn-secondary">Admin</a></li>
                        <li><a asp-action="Role" class="btn btn-secondary">Role</a></li>
                        <li><a asp-controller="Account" asp-action="Logout" class="btn btn-danger right">Logout</a></li>
                    </ul>
                </div>
            
        

        <table class="table table-sm table-bordered">
            <tr>
                <th>Subject</th>
                <th>Issuer</th>
                <th>Type</th>
                <th>Value</th>
                <th>Delete</th>
            </tr>
            @foreach (var claim in Model.OrderBy(x => x.Type))
            {
                <tr>
                    <td>@claim.Subject.Name</td>
                    <td>@claim.Issuer</td>
                    <td>@claim.Type</td>
                    <td>@claim.Value</td>
                    <td>
                        <form asp-action="Delete" method="post">
                            <input type="hidden" name="claimValues" value="@claim.Type;@claim.Value;@claim.Issuer" />
                            <button type="submit" class="btn btn-sm btn-danger">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <table class="table table-sm table-bordered">
            <tr>
                <th>Subject</th>
                <th>Issuer</th>
                <th>Type</th>
                <th>Value</th>
            </tr>

            @foreach (var claim in Model.OrderBy(x => x.Type))
            {
                <tr>
                    <td>@claim.Subject.Name</td>
                    <td>@claim.Issuer</td>
                    <td>@claim.Type</td>
                    <td>@claim.Value</td>
                    <td>
                        <form asp-action="Delete" method="post">
                            <input type="hidden" name="claimValues" value="@claim.Type;@claim.Value;@claim.Issuer" />
                        </form>
                    </td>
                </tr>
            }
        </table>
    }
}
